[Unit]
Description=cAdvisor - Container Advisor
After=network-online.target
Wants=network-online.target

[Service]
User=cadvisor
Group=cadvisor
ExecStart=/usr/local/bin/cadvisor   --port=8080   --disable_metrics=percpu,sched,tcp,udp   --housekeeping_interval=10s   --docker_only=true
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
